/***********css for placeholder starts here********************/
input::-webkit-input-placeholder { /* WebKit browsers */
    color: gray!important;
    font-size:12px !important; 
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: gray!important;
    font-size:12px; 
}
input::-o-placeholder { /* Mozilla Firefox 19+ */
    color: gray!important;
    font-size:12px; 
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  gray!important;
    font-size:12px; 
}
/***********css for placeholder ends here********************/

/***********css for textarea starts here********************/
textarea::-webkit-input-placeholder {
  color:  gray!important;
  font-size:12px; 
}

textarea:-moz-placeholder { /* Firefox 18- */
  color:  gray!important; 
  font-size:12px;   
}

textarea::-o-placeholder {  /* Firefox 19+ */
  color:  gray!important;
  font-size:12px;   
}

textarea:-ms-input-placeholder {
  color:  gray!important; 
}

textarea::placeholder {
  color:  gray!important;
}
/***********css for textarea ends here********************/




/*******************Sign Up-Sign in Page Starts Here**********************/
.navbar{
    /*height: 50px;*/
    background-color:#0078c1; 
    padding: 0px 15px; 
    /*padding-top: 14px;*/ 


}
.navbar .navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .navbar-brand img {height: 70px;}

ul.nav.navbar-nav.navbar-right li a {color: #fff !important; margin-left: 10px;}

.main_text a{
    color: #fff;
}
.main_text a:hover{
    text-decoration: none;
}

        #sign_up_in{
                background: -webkit-linear-gradient(left, #0f4f96, #0078c1);
                margin-top: 3%;
                padding: 3%;
            }
            #sign_up_in .register-left{
                text-align: center;
                color: #fff;
                margin: 0 auto;
            }

            #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 40%;
                left: 25%;
                font-size:22px;
            }
            #sign_up_in .register-left input{
                border: none;
                border-radius: 1.5rem;
                padding: 2%;
                width: 60%;
                background: #f8f9fa;
                font-weight: bold;
                color: #383d41;
                margin-top: 30%;
                margin-bottom: 3%;
                cursor: pointer;
            }
            #sign_up_in .register-right{
                background: #f8f9fa;
                border-top-left-radius: 10% 50%;
                border-bottom-left-radius: 10% 50%;
            }

            #sign_up_in .register-right { text-align:right;  } 

            #sign_up_in .register-right .nav-tabs {
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            width: 25%; 
            }
            
            /*#sign_up_in .register-left p{
                font-weight: lighter;
                padding: 12%;
                margin-top: -9%; 
            }*/
            #sign_up_in .register-form{
                padding: 8% 2%;
                margin-top: 10%;
                text-align:left;
            }
    
            #sign_up_in .btnRegister{
                margin:auto;
                margin-top: 3%;
                border: none;
                border-radius: 1.5rem;
                padding: 1%;
                background: #0078c1;
                color: #fff;
                font-weight: 600;
                width: 50%;
                cursor: pointer;

            }

            #sign_up_in .btnResendOTP {
                width: 106px;
                cursor: pointer;
                margin-right: 15px;
                background: #0078c1;
                border-radius: 1.5rem;
                color:#FFF;
                border:none;
                padding:1%;
            }

            #sign_up_in .forgot{
                float:right;
                padding-right: 5%; 
            }

            #sign_up_in .register-right #tab_butt .nav-tabs{
                margin-top: 3%;
                border: none;
                background: #0062cc;
                border-radius: 1.5rem;
                width: 25%;
                float: right;
            }
            #sign_up_in .register-right #tab_butt .nav-tabs .nav-link{
                padding: 2%;
                height: 34px;
                font-weight: 600;
                color: #fff;
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
            #sign_up_in .register-right #tab_butt .nav-tabs .nav-link:hover{
                border: none;
            }
            #sign_up_in .register-right #tab_butt .nav-tabs .nav-link.active{
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }
            #sign_up_in .register-heading{
                text-align: center;
                margin-top: 8%;
                margin-bottom: -15%;
                color: #495057;
            }

            #sign_up_in .form-control {
                background-color: #fff70859; 
            }


            @media only screen and (min-width: 992px) and (max-width: 1200px) { 

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                    width: 32%;
                    
                }
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) and (max-width: 991px) {

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 22%;
                    
                            }

                #sign_up_in .form-control{
                    margin-bottom: 15px;
                }

                #sign_up_in h3.register-heading{
                    text-align:center;
                }
            } 

            @media only screen and (min-width: 574px) and (max-width: 767px) {


                #sign_up_in .register-right #tab_butt{
                    margin-top: 10px;
                }

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 60%;
                                float: none;
                                margin: auto;
                            }
                #sign_up_in .form-control{
                    margin-bottom: 15px;
                }

                #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 40%;
                left: 5%;
                font-size:22px
            }
            } 

            /* Extra small devices (phones, 600px and down) */
            @media only screen and (min-width: 482px) and (max-width: 574px) {
               
                 #sign_up_in .register-right #tab_butt{
                    margin-top: 10px;
                }
                
            
                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 42%;
                                float: none;
                                margin: auto;
                            }
                
                #sign_up_in .form-control{
                    margin-bottom: 15px;
                }
                #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 0%;
                left: 40%;
            }
            }

            @media only screen and (min-width: 406px) and (max-width: 481px) {

                #sign_up_in .register-right #tab_butt{
                    margin-top: 10px;
                }

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 51%;
                                float: none;
                                margin: auto;
                            }
                #sign_up_in .form-control{
                    margin-bottom: 15px;
                    
                }
                #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 0%;
                left: 36%;
            }

        }

            @media only screen and (min-width: 350px) and (max-width: 405px) {
                #sign_up_in .register-right #tab_butt{
                    margin-top: 10px;
                }

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 61%;
                                float: none;
                                margin: auto;
                            }
                #sign_up_in .form-control{
                    margin-bottom: 15px;
                    
                }

                #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 0%;
                left: 32%;
            }
            }

            @media only screen and (min-width: 300px) and (max-width: 350px){
            
                #sign_up_in .register-right #tab_butt{
                    margin-top: 10px;
                }

                #sign_up_in .register-right #tab_butt .nav-tabs {
                    
                                width: 66%;
                                float: none;
                                margin: auto;
                            }
                #sign_up_in .form-control{
                    margin-bottom: 15px;
                }
                #sign_up_in .register-left h3{

                position: relative;
                float: left;
                top: 0%;
                left: 30%;
            }
                
            }

/************************Sign Up-Sign in Page Ends Here**************************/